body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.okenko{
    background-color: azure;
    margin: 16px;
    padding: 16px;
    border: 1px solid azure;
    border-radius: 15px;
}

header{
    background-color: brown;
    margin: 0 ;
    padding: 0 ;


}

nav{
    
    margin: 0 ;
    padding: 0 ;


}

ul{
    
    margin: 0 ;
    padding: 0 ;


}

body{
    
    margin: 0 ;
    padding: 0 ;


}



.nadpis{    
  background-color: aqua;
   margin: 0;
   padding: 0;


    }




    